
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


.banner-container{
    height: 1824px;
    background-color: #111204;
    color: white;
    
}

.banner-container h1 {
    font-size: 96px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin-top: 119px;
}

.reality {
    color: #B9FD50;
    font-family: "Plus Jakarta Sans";
    font-style: italic;
    font-weight: 800;
}

.description {
    color: #FFFFFFCC;
    margin-top: 45px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;

}

.btn{
    background-color: #B9FD50;
    display: flex;
width: 149px;
height: 56px;
padding: 8px 14px;
justify-content: center;
align-items: center;
gap: 14px;
flex-shrink: 0;
color: #111204;
font-size: 16px;
font-weight: 500;
border-radius: 8px;
border: none;

    
}

.button-div {
    left: 645px;
    margin-top: 42px;
    display: flex;
    justify-content: center;
    
}

.div3 {
    display: flex;
    justify-content: center;
    margin-top: 69px;
    align-items: center;
    font-size: 15px;
    font-weight: 700;

}

.div3 img {
    margin-bottom: 3px;
    padding-right: 39px;
    padding-left: 39px;
}

.logos {
    background-color: #222222;
    border-radius: 22px;
    width: 1420px;
    height: 114px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.logos img {
    padding: 33px;
}

.div4 {
    display: flex;
    justify-content: space-evenly;
    /* padding-left: 150px; */
    margin-top: 123px;
}

.p1{
    color: #B9FD50;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.p2{
    
    font-size: 54px;
    font-weight: 600;
    width: 606px;
    
}
.p3{
    color: #FFFFFFCC;
    font-size: 24px;
    font-weight: 300;
    width: 500px;
    margin-top: 35px;
    
}

.btn3{
    border-radius: 8px;
background: #B9FD50;
color: #111204;
font-size: 16px;
font-weight: 500;
display: flex;
width: 149px;
height: 56px;
padding: 8px 14px;
justify-content: center;
align-items: center;
gap: 14px;
flex-shrink: 0;
margin-top: 36px;
border: none;
}

.div5{
    margin-top: 128px;
    justify-content: space-evenly;
    display: flex;
}

.icon-div1{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.icon1{
    background: #B9FD50;
    border-radius: 50px 50px;
    width: 93px;
    height: 93px;
    font-size: 45px;
    padding: 24px;
    color: #111204;
}
.icon-div2{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.icon2{
    background: #B9FD50;
    border-radius: 50px 50px;
    width: 93px;
    height: 93px;
    font-size: 45px;
    padding: 24px;
    color: #111204;
}
.icon3{
    background: #B9FD50;
    border-radius: 50px 50px;
    width: 93px;
    height: 93px;
    font-size: 45px;
    padding: 24px;
    color: #111204;
    margin-bottom: 40px;
}

.p4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 21px;
}
.p5{
    font-size: 18px;
    font-weight: 300;
    width: 283px;
    color: #FFFFFFCC;
}
.p6{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 21px;
}
.p7{
    font-size: 18px;
    font-weight: 300;
    width: 283px;
    color: #FFFFFFCC;
}
.p8{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 21px;
}
.p9{
    font-size: 18px;
    font-weight: 300;
    width: 283px;
    color: #FFFFFFCC;
}



